body {
    background-color: black;
    color: white;
}

#welcome {
    color: whitesmoke;
}

#yesornoform {
    margin-top: 100px;
}

#tooltip:hover {
    cursor: pointer;
    color: yellow;
}

/* #body {
    color: white;
    position:absolute;
    width:500px;
    height:500px; 
    left:50%;
    top:50%;
    margin-left:-50px;
    margin-top:-50px;
} */